* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    margin: 0 auto;
    font: 12px 'Noto Sans SC', "Open Sans";
    background-color: #FFFFFF;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

img {
    border: 0;
    -webkit-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -moz-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -ms-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    -o-transform: scale(1)rotate(0)translate3d(0, 0, 0);
    transform: scale(1)rotate(0)translate3d(0, 0, 0);
}

div,
p,
img,
ul,
ol,
li,
form,
input,
label,
span,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style-type: none;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -webkit-transition: all .25s ease 0s;
    -moz-transition: all .25s ease 0s;
    -ms-transition: all .25s ease 0s;
    -o-transition: all .25s ease 0s;
    transition: all .25s ease 0s;
    color: #333;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: #FFFFFF;
}

.container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(34, 35, 36, 0.6);
    z-index: 2002;
    overflow: hidden;
}

.w100 {
    width: 100%;
}

.hide {
    display: none;
}

.arrow {
    font-size: 14px;
    color: #82AAD7;
}

.loading{
    height: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.loading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #667190;
}

.arrow-down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 0.1s ease-in;
    -moz-transition: transform 0.1s ease-in;
    -ms-transition: transform 0.1s ease-in;
    -o-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
}

.close {
    position: absolute;
    top: 20.5px;
    right: 20.5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.flex {
    display: box;
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-1 {
    flex: 1;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -webkit-box-lines: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-end {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.justify-start {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}

.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.justify-end {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.justify-between {
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-around;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.justify-around {
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}

.justify-evenly {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    -o-justify-content: space-evenly;
    justify-content: space-evenly;
}

.align-start {
    -webkit-box-align-content: flex-start;
    -ms-flex-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: end;
    align-items: end;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.checkBox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #EAF0F3;
    border: 0.5px solid #A9B5C2;
    border-radius: 2px;
    position: relative;
}

.checkBox::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    width: 5px;
    height: 9px;
    -webkit-transform: rotate(45deg) scaleY(0);
    -moz-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    -o-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -webkit-transition: transform 0.15s ease-in 0.05s;
    -moz-transition: transform 0.15s ease-in 0.05s;
    -ms-transition: transform 0.15s ease-in 0.05s;
    -o-transition: transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s;
}

.checkBox-inner .is-indeterminate {
    background: #EAF0F3;
    border: 0.5px solid #A9B5C2;
}

.checkBox-inner .is-indeterminate::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #667190;
    height: 2px;
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 6px;
}

.checkBox-inner input[type="checkbox"]:checked+span {
    background-color: #428EFF;
    border-color: #428EFF;
}

.checkBox-inner input[type="checkbox"]:checked+span::after {
    -webkit-transform: rotate(45deg) scaleY(1);
    -moz-transform: rotate(45deg) scaleY(1);
    -ms-transform: rotate(45deg) scaleY(1);
    -o-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
}

.checkBox-inner input[type="checkbox"]:disabled+span {
    background: #EAF0F3;
    border: 0.5px solid #A9B5C2;
    border-radius: 2px;
}

.checkBox-inner input[type="checkbox"]:disabled+span::after {
    position: absolute;
    top: 1px;
    left: 5px;
    border: 2px solid #A9B5C2;
    border-left: 0;
    border-top: 0;
    width: 5px;
    height: 9px;
}