.region-picker-container.hide,
.region-picker-container .hide {
  display: none;
}

.region-picker-container .clickable {
  cursor: pointer;
}

.region-picker-container .no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.region-picker-container .flex {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.region-picker-container .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.region-picker-container .flex-col {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.region-picker-container .flex-wrap {
  -webkit-box-lines: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.region-picker-container .justify-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-around;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.region-picker-container .align-start {
  -webkit-box-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.region-picker-container .align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.region-picker-container .flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.region-picker-container ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #ffffff;
}

.region-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #fff;
  overflow: hidden;
}

.region-picker-container .nav {
  position: relative;
  height: 56px;
  background-color: #fff;
  border-bottom: 0.5px solid #c6d0da;
  padding: 0 16px;
}

.region-picker-container .nav .nav-left {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #708daa;
}

.region-picker-container .nav .nav-middle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #21293c;
}

.region-picker-container .nav .btn-submit {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2281df;
}

.region-picker-container .area-select {
  position: relative;
  box-sizing: border-box;
  padding: 12px 16px;
  padding-bottom: 0;
}

.region-picker-container .area-select .region-picker-container-tips {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #708daa;
}

.region-picker-container .area-select .btn-select-all {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #428eff;
}

.region-picker-container .area-select .btn-reset {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ff3d00;
  margin-right: 23px;
}

.region-picker-container .region-selected-container {
  margin-top: 2px;
  max-height: 80px;
  overflow-y: scroll;
}

.region-picker-container .region-selected-container .region-item-selected {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #21293c;
  background-color: #eaf0f3;
  border-radius: 2px;
  padding: 6px;
  margin: 8px 8px 0 0;
}

.region-picker-container .region-selected-container .btn-remove-selected {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.region-picker-container .list {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px - 68px - 16px);
  margin-top: 16px;
  overflow: hidden;
}

.region-picker-container .list .region-letters-container {
  position: relative;
  width: 45px;
  height: 100%;
  background: #f1f6f8;
  padding: 16px 18px 28px 18px;
  cursor: pointer;
  user-select: none;
  overflow-y: scroll;
}

.region-picker-container .list .region-letters-container span {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #a3acc7;
  text-decoration: none;
  width: 10px;
  height: 18px;
  text-align: center;
  margin-top: 4px;
}

.region-picker-container .list .region-letters-container .picker-letter-active {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #21293c;
}

.region-picker-container .list .list-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 16px 0 8px;
  overflow: hidden;
}

.region-picker-container .list .list-box .region-picker-container-input {
  width: 100%;
  height: 36px;
  padding: 8px;
  background-color: #f1f6f8;
  border-radius: 2px;
}

.region-picker-container .list .list-box .region-picker-container-input > input {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #21293c;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  outline: none;
  transition: all 0.3s ease;
}

.region-picker-container .list .list-box .region-picker-container-input > input::placeholder {
  color: #a3acc7;
}

.region-picker-container .list .list-box .region-picker-container-input > input:focus {
  border: none;
  outline: none;
}

.region-picker-container .list .list-box .list-container {
  margin-top: 24px;
  width: 100%;
  height: calc(100% - 68px - 16px);
  box-sizing: border-box;
  overflow: hidden;
}

.region-picker-container .list .list-box .list-container .list-container-select {
  width: 10px;
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #667190;
  margin-right: 16px;
}

.region-picker-container .region-picker-container-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.region-picker-container .region-picker-container-list .region-picker-item {
  width: 100%;
  margin-bottom: 24px;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.21s ease;
}

.region-picker-container .region-picker-item .list__flag {
  width: 36px;
  height: 24px;
  border: 0.5px solid #f1f1f1;
  border-radius: 2px;
  margin-right: 12px;
}

.region-picker-container .region-picker-item .region-picker-item-cname {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #21293c;
}

.region-picker-container .region-picker-item .region-picker-item-name {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: #667190;
  margin-top: 2px;
}

.region-picker-container .region-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.region-picker-container .region-checkbox > input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.region-picker-item:hover .region-checkbox-elem {
  background: #f8f8f8;
  border: 0.5px solid #94989d;

  -webkit-transition: background 0.3s ease-in 0.05s;
  -moz-transition: background 0.3s ease-in 0.05s;
  -ms-transition: background 0.3s ease-in 0.05s;
  -o-transition: background 0.3s ease-in 0.05s;
  transition: background 0.3s ease-in 0.05s;
}

.region-picker-container .region-checkbox-elem {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
  border-radius: 2px;
  position: relative;
}

.region-picker-container .region-checkbox-elem::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  width: 5px;
  height: 9px;
  -webkit-transform: rotate(45deg) scaleY(0);
  -moz-transform: rotate(45deg) scaleY(0);
  -ms-transform: rotate(45deg) scaleY(0);
  -o-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  -webkit-transition: transform 0.1s ease-in 0.05s;
  -moz-transition: transform 0.1s ease-in 0.05s;
  -ms-transition: transform 0.1s ease-in 0.05s;
  -o-transition: transform 0.1s ease-in 0.05s;
  transition: transform 0.1s ease-in 0.05s;
}

.region-picker-container .region-checkbox .is-indeterminate {
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
}

.region-picker-container .region-checkbox .is-indeterminate::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #667190;
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 6px;
}

.region-picker-container .region-checkbox input[type="checkbox"]:checked + span {
  background-color: #428eff;
  border-color: #428eff;
}

.region-picker-container .region-checkbox input[type="checkbox"]:checked + span::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  -moz-transform: rotate(45deg) scaleY(1);
  -ms-transform: rotate(45deg) scaleY(1);
  -o-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}

.region-picker-container .region-checkbox input[type="checkbox"]:disabled + span {
  background: #eaf0f3;
  border: 0.5px solid #a9b5c2;
  border-radius: 2px;
}

.region-picker-container .region-checkbox input[type="checkbox"]:disabled + span::after {
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid #a9b5c2;
  border-left: 0;
  border-top: 0;
  width: 5px;
  height: 9px;
}
