.topbar {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #C6D0DA;
}

.topbar-box {
    width: 150px;
    height: 100%;
    padding: 16px;
    cursor: pointer;
}

.topbar-box:hover {
    background: #EAF0F3;
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -ms-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
}

.topbar-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #667190;
}

.topbar-title span {
    margin-right: 10px;
}

.topbar-text {
    width: 277px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21293C;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.topbar-text span {
    margin-right: 6px;
}

.topbar-image {
    width: 26px;
    height: 25px;
    margin-right: 6.91px;
}

.topbar-domain {
    width: 300px;
}

.topbar-area {
    margin-left: 150px;
}

.picker-box {
    position: absolute;
    z-index: 999;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.picker-box-item {
    width: 150px;
    height: 34px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #21293C;
    padding-left: 24px;
}

.picker-box-item:hover {
    background: #EAF0F3;
}

.time-picker {
    width: 300px;
    height: 170px;
}

.org-picker {
    width: 150px;
    height: 84px;
}

.area-picker {
    width: 450px;
    min-height: 399px;
    padding: 24px 16px;
}

.area-picker-tips {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #667190;
}

.area-picker-clear {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #428EFF;
    margin-right: 24px;
    cursor: pointer;
}

.area-picker-sure {
    width: 64px;
    height: 32px;
    background: #428EFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.area-picker-selected {
    margin-top: 16px;
}

.area-picker-selected-item {
    height: 24px;
    background: #EAF0F3;
    border-radius: 2px;
    padding: 4px;
    margin-top: 8px;
    margin-right: 8px;
}

.area-picker-selected-item span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #21293C;
}

.area-picker-selected-close {
    width: 13px;
    height: 13px;
    margin-left: 5px;
    cursor: pointer;
}

.area-picker-input {
    position: relative;
    width: 418px;
    height: 36px;
    margin-top: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    background: #F1F6F8;
}

.area-picker-input input {
    background: #F1F6F8;
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.area-picker-input input:focus {
    border: none;
}

.area-picker-input input::placeholder {
    color: #A3ACC7;
}

.area-picker-input i {
    color: #82AAD7;
    font-size: 16px;
}

.area-picker-letter {
    margin-top: 16px;
}

.area-picker-letter span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #667190;
    margin-left: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.area-picker-letter span:hover {
    font-weight: 900;
    color: #21293C;
}

.area-picker-list {
    position: relative;
    width: 100%;
    height: 190px;
    overflow-y: scroll;
    background: #FFFFFF;
}


.area-picker-list::-webkit-scrollbar {
    width: 4px !important;
    background: #D9D9D9;
}

.area-picker-list img {
    width: 30px;
    height: 20px;
    border: 0.5px solid #F1F1F1;
    border-radius: 2px;
    margin-top: -4px;
    margin-left: 8px;
}

.area-picker-item {
    width: 202px;
    height: 31px;
    margin-top: 16px;
    box-sizing: border-box;
}

.area-picker-item-zh {
    width: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #21293C;
    margin-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.area-picker-item-en {
    width: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #667190;
    margin-left: 6px;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.domain-picker {
    width: 300px;
    max-height: 286px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #21293C;
    padding: 24px;
    padding-top: 8px;
    overflow-y: scroll;
}

.domain-picker-item {
    margin-top: 16px;
}

.domain-picker-item-children {
    margin-left: 12px;
}

.domain-picker-append {
    width: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #667190;
    margin-right: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.domain-picker-append2 {
    width: 30px;
}